NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=ws://localhost:3000/ws
# Comma separated origins allowed to request dev assets (e.g. from World App)
ALLOWED_DEV_ORIGINS=http://localhost:3000,https://worldcoin.org
NEXT_PUBLIC_WLD_ADDRESS=0xdc6ff44d5d932cbd77b52e5612ba0529dc6226f1
# Adresse des WorldchessTest-Vertrags
NEXT_PUBLIC_TEST_CONTRACT_ADDRESS=0xd9145CCE52D386f254917e481eB44e9943F39138
